.sideBar  {
    width: 460px;
    padding-top: 42px;
    padding-bottom: 35px;
    position: relative;
    opacity: 1.05;
    background: url(../../img/back.png) no-repeat;
    background-blend-mode: difference;
    background-color: var(--panel-light);
    background-position: left 110px;
}

.search {
    color: var(--gray, #48484A);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    border-radius: 10px;
    border: 2px solid var(--hint);
    background: var(--panel-light);
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    margin-left: 41px;
    cursor: pointer;
}
.top {
    display: flex;
    gap: 131px;
    align-items: center;
}
.switchBox {
    margin-top: -18px;
}
.switchOff {
    cursor: pointer;
}
.switchOn {
    cursor: pointer;
}

.botom {
    background-color: var(--background-light);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgBox {
    width: 200px;
    height: 200px;
    
}
.snowflake {
    height: auto;
    width: 100%;
}
.temperatureBox {
    margin-bottom: 17px;
}

.temperature {
    color: var(--gray);
    text-align: center;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    
}
.temperatureSmoll {
    color: var(--gray);
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.precipitation {
    color: var(--gray);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 36px */
    margin-bottom: 17px;
}
.sensation {
    color: var(--hint );
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 78px;
}
.dateBox {
    display: flex;
    gap: 88px;
    justify-content: center;
    margin-bottom: 35px;
}
.day {
    color: var(--hint );
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cityBox {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.city {
    color: var(--hint);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.none {
    display: none;
}

@media ( min-width: 834px) and (max-width:1439px) {
    .sideBar{
        max-width: 329px;
        /* height: 100vh; */
        padding-top: 53px;
        background-position: 0 307px;
        background-size: contain;
    }
    .imgBox {
        margin: 46px 0 237px 0;
    }
    .search {
        margin: 0 0 204px 28px;
    }
    .top {
        gap: 36px;
    }
    .switchBox {
        margin-top: -200px;
    }

}

@media (max-width: 834px) { 
    .sideBar {
        width: 100%;
        background-position: left 67px;
        background-size: contain;
        padding-top: 31px;
    }
    .search {
        margin-left: 30px;
    }
    .top {
        gap: 71px;
    }
    .switchBox {
        margin-top: -23px;
    }
}