.detailed {
    
}
.detailed__title {
    color: var(--gray);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 17px;
}
.detailed__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 18px;
    grid-column-gap: 80px;
}
.card-details {
    border-radius: 10px;
    background: var(--panel-light);
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.05);
    width: 320px;
    height: 181px;
    padding: 20px 0;
}
.speed {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card__text {
    color: var(--gray);
    font-style: normal;
    line-height: normal;
}
.card-details__head {
    font-size: 18px;
    font-weight: 400;
}
.card-details__text-big {
    font-size: 64px;
    font-weight: 900;
    
}
.card-details__text-smoll {
    font-size: 36px;
    font-weight: 500;
    
}
.card-details__text-extra-smoll {
    font-size: 18px;
    font-weight: 500;
    
}
.card-details__direction {
    display: flex;
    align-items: center;
    gap: 11px;
}
.card-details__wind {
    font-size: 18px;
    font-weight: 300;
    
}
.other {
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
}