.search-box {
    width: 461px;
    height: 100vh;
    background-color: var(--panel-light);
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 0.5s;
}
.active {
    left: 0;
}
.search-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 45px;
    padding: 0 45px 0 45px;
}
.cross {
    margin-top: 45px;
}
.search-field {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 250px 18px 97px
    
}
.search-input {
    border-radius: 10px;
    border: 2px solid var(--hint );
    background: var(--panel-light );
    width: 250px;
    height: 50px;
    padding: 15px 17px 15px 44px;
    grid-area: 1/1;
    
}
.search-icon {
    grid-area: 1/1;
    margin-left: 17px;
}
.search-btn {
    border-radius: 10px;
    border: 2px solid var(--hint);
    background: var(--panel-light );
    width: 97px;
    height: 50px;
    color: var(--gray );
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    grid-area: 1/-2;
}