@import "variables.css";
@import "panel.css";
@import "search-box.css";
@import "core.css";
@import "forecast.css";
@import "detailed.css";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background: var(--background-light);
}
/* html, body {
    overflow-x: hidden;
} */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  outline: none;
  border:none;
  background: transparent;
}
ul, li {
     margin-left: 0; 
     padding-left: 0;
 }
 ul {
    list-style: none;
 }

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 360px);
    padding-right: calc(50% - 360px);
}

/* стили для основной панели */

/* стили для подробно */


@media ( min-width: 834px) and (max-width:1439px) {
    .app {
        min-width: 834px;
    }
    .panel{
        max-width: 329px;
        /* height: 100vh; */
        padding-top: 53px;
        background-position: 0 307px;
        background-size: contain;
    }
    .img-box {
        margin: 46px 0 237px 0;
    }
    .search {
        margin: 0 0 204px 28px;
    }
    .top {
        gap: 36px;
    }
    .switch-box {
        margin-top: -200px;
    }
    .search-box {
        width: 329px;
        height: 1194px;
    }
    .search-content {
        padding: 0 27px;
        gap: 37px;
    }
    .search-field {
        position: relative;
        display: grid;
        align-items: center;
        gap: 20px;
        grid-template-columns: none;
        
    }
    .search-input {
        width: 275px;
        grid-area: -1/1;
    }
    .search-icon {
        grid-area: -1/1;
        
    }
    .search-btn {
        margin: 0 auto;
        grid-area: 3/1;
    }
    .cross {
        margin-top: 59px;
    }
    .core {
        min-width: 505px;
        
    }
    .center {
        padding-left: calc(50% - 181px);
        padding-right: calc(50% - 181px);
    }
    .core__box {
        margin: 61px 0;
    }
    .forecast {
        margin-bottom: 42px;
    }
    .forecast__box {
        display: flex;
    }
    .forecast__heading {
        margin-left: 0;
    }
    .detailed__title {
        margin-bottom: 25px;
    }
    .detailed__box {
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 0;
        grid-row-gap: 27px;
        justify-items: center;
    }
    .arrow-left {
        left: -49px;
    }
    .arrow-right {
        right: -49px;
    }
    .hidden {
        display: none;
    }
   
}


@media (max-width: 834px) {
    .app {
        min-width: 375px;
        flex-direction: column;
    }
    .panel {
        width: 100%;
        background-position: left 67px;
        background-size: contain;
        padding-top: 31px;
    }
    .search {
        margin-left: 30px;
    }
    .top {
        gap: 71px;
    }
    .switch-box {
        margin-top: -23px;
    }
    .core {
        min-width: 375px;
    }
    .center {
        padding-left: calc(50% - 137px);
        padding-right: calc(50% - 137px);

    }
    .forecast {
        align-items: center;
        margin-bottom: 59px;
    }
    
    .forecast__heading {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .forecast__box {
        display: flex;
        gap: 40px;
    }
    .arrow-none {
        display: none;
    }
    .detailed {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .detailed__box {
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 0;
        grid-row-gap: 43px;
        justify-items: center;
    }
    .detailed__title {
        margin-bottom: 30px;
    }
    .card-details {
        width: 314px;
        height: 162px;
        padding: 20px 22px 24px 22px;
    }
        
    .list-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 55px;
    }
    .none {
        display: none;
    }
    .mb {
        margin-bottom: 600px;
    }
    
   .search-box {
        width: 100%;
        height: 100%;
        
   }
   .search-content {
        gap: 37px;
        padding: 0 50px 0 27px;
        margin: 0 auto;
        width: 375px;
   }
   .cross {
        margin-top: 40px;
   }
   .search-field {
        position: relative;
        display: grid;
        align-items: center;
        grid-template-columns: none;
        
   }
   .search-input {
        width: 298px;
        grid-area: -1/1;
   }
   .search-icon {
        grid-area: -1/1;
        
   }
   .search-btn {
        margin: 0 auto;
        margin-top: 20px;
        grid-area: 3/1;
   }

}

