:root {
    --hint : #ACACAC;
    --panel-light: #FFF;
    --gray: #48484A;
    --background-light: #F1F1F1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}
/* html, body {
    overflow-x: hidden;
} */

a {
    text-decoration: none;
}
.panel {
    max-width: 460px;
    width: 100%;
    height: 100vh;
    background: var(--panel-light, #FFF);
    padding-top: 42px;
    padding-bottom: 35px;
    position: relative;
}
.center {
    padding-left: calc(50% - 186.5px);
    padding-right: calc(50% - 186.5px);
}

.button {
    border-radius: 10px;
    border: 2px solid var(--hint, #ACACAC);
    background: var(--panel-light, #FFF);
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    margin-left: 41px;
}
.search {
    color: var(--gray, #48484A);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.backgr-img {
    opacity: 1.05;
    background: url(img/back.png), lightgray 50% / cover no-repeat;
    background-blend-mode: difference;
    height: 377px;
    width: 100%;
    background-color: var(--panel-light);
    margin-top: 18px;
    margin-bottom: 17px;
  
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-box {
    width: 200px;
    height: 200px;
    
}
.snowflake {
    height: auto;
    width: 100%;
}
.temperature {
    color: var(--gray, #48484A);
    text-align: center;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 17px;
}
.precipitation {
    color: var(--gray, #48484A);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 36px */
}
.sensation {
    color: var(--hint, #ACACAC);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 78px;
}
.date-box {
    display: flex;
    gap: 88px;
    justify-content: space-evenly;
    margin-bottom: 35px;
}
.day {
    color: var(--hint, #ACACAC);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.city-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 44px; */
}
.city {
    color: var(--hint, #ACACAC);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* стили для выезжающей боковой панели */
.search-box {
    width: 461px;
    height: 100vh;
    background-color: var(--panel-light);
    position: absolute;
    top: 0;
    left: -999999px;
    transition: left 0.5s;
}
.active {
    left: 0;
}
.search-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 45px;
}
.cross {
    margin-top: 45px;
}
.search-field {
    display: flex;
    gap: 22px;
    
}
.search-input {
    border-radius: 10px;
    border: 2px solid var(--hint, #ACACAC);
    background: var(--panel-light, #FFF);
    width: 250px;
    height: 50px;
    position: relative;
    padding: 15px 17px 15px 44px;
    
}
.search-icon {
    position: absolute;
    top: 132px;
    left: 66px;
}
.search-btn {
    border-radius: 10px;
    border: 2px solid var(--hint, #ACACAC);
    background: var(--panel-light, #FFF);
    width: 97px;
    height: 50px;
    color: var(--gray, #48484A);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* стили для основной панели */

.app {
    display: flex;
    max-width: 100vw;
}
.core {
    background: var(--background-light, #F1F1F1);
    height: 100vh;
    padding: 42px 54px 44px 74px;
    width: 100%;
}
.forecast {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.forecast__heading {
    display: flex;
    margin-bottom: 25px;
    margin-left: 64px;

}
.forecast__title {
    color: var(--gray, #48484A);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-right: 24px;
}
.label-week {
    
    margin-right: 16px;
}
.label {
    color:var(--hint); 
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    border: none;
    
    
}
.forecast__active {
    color: var(--gray);
    border-bottom: 3px solid #48484A;
    content: "";
    display: block;
    width: 109px;
    padding-bottom: 9px;

        
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.list-cards {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0 28px;
}
.none {
    display: none;
}
.card_active {
    position: absolute;
    top: 0;
}
.card {
    border-radius: 8.362px;
    background: var(--panel-light, #FFF);
    box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
    width: 100px;
    height: 143px;
    position: relative;
}
.card__back {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 24px;
    
}
.card__day {
    left: 15px;
    position: absolute;
    top: 16px;
    
}
.card__tomorrow {
    left: 25px;
    position: absolute;
    top: 16px;
}
.card__temperature {
    
    display: flex;
    gap: 18px;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    left: 14px;

}
.text {
    color: var(--gray, #48484A);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card__min {
    color: #D3D3D3;
}
/* почасовые карточки
 */
 .card__hour {
    position: absolute;
    top: 16px;
    left: 30px;
}
 .card__temp {
    position: absolute;
    top: 111px;
    left: 35px;
 }


