:root {
    --hint : #ACACAC;
    --panel-light: #FFF;
    --gray: #48484A;
    --background-light: #F1F1F1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}
/* html, body {
    overflow-x: hidden;
} */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

a {
    text-decoration: none;
}
.panel {
    max-width: 460px;
    width: 100%;
    height: 100vh;
    background: var(--panel-light, #FFF);
    padding-top: 42px;
    padding-bottom: 35px;
    position: relative;
}
.center {
    padding-left: calc(50% - 186.5px);
    padding-right: calc(50% - 186.5px);
}

.search {
    color: var(--gray, #48484A);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    border-radius: 10px;
    border: 2px solid var(--hint, #ACACAC);
    background: var(--panel-light, #FFF);
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    margin-left: 41px;
}
.backgr-img {
    opacity: 1.05;
    background: url(img/back.png), lightgray 50% / cover no-repeat;
    background-blend-mode: difference;
    height: 377px;
    width: 100%;
    background-color: var(--panel-light);
    margin-top: 18px;
    margin-bottom: 17px;
  
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-box {
    width: 200px;
    height: 200px;
    
}
.snowflake {
    height: auto;
    width: 100%;
}
.temperature-box {
    margin-bottom: 17px;
}

.temperature {
    color: var(--gray, #48484A);
    text-align: center;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    
}
.temperature-smoll {
    color: var(--gray, #48484A);
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.precipitation {
    color: var(--gray, #48484A);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 36px */
}
.sensation {
    color: var(--hint, #ACACAC);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 78px;
}
.date-box {
    display: flex;
    gap: 88px;
    justify-content: space-evenly;
    margin-bottom: 35px;
}
.day {
    color: var(--hint, #ACACAC);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.city-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 44px; */
}
.city {
    color: var(--hint, #ACACAC);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* стили для выезжающей боковой панели */
.search-box {
    width: 461px;
    height: 100vh;
    background-color: var(--panel-light);
    position: absolute;
    top: 0;
    left: -100vw;
    transition: left 0.5s;
}
.active {
    left: 0;
}
.search-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 45px;
}
.cross {
    margin-top: 45px;
}
.search-field {
    display: flex;
    gap: 22px;
    
}
.search-input {
    border-radius: 10px;
    border: 2px solid var(--hint, #ACACAC);
    background: var(--panel-light, #FFF);
    width: 250px;
    height: 50px;
    position: relative;
    padding: 15px 17px 15px 44px;
    
}
.search-icon {
    position: absolute;
    top: 132px;
    left: 66px;
}
.search-btn {
    border-radius: 10px;
    border: 2px solid var(--hint, #ACACAC);
    background: var(--panel-light, #FFF);
    width: 97px;
    height: 50px;
    color: var(--gray, #48484A);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* стили для основной панели */

.app {
    display: flex;
    max-width: 100vw;
}
.core {
    background: var(--background-light, #F1F1F1);
    /* height: 100vh;
    padding: 42px 54px 44px 74px;
    width: 100%; */
}
.container {
    width: 980px;
    margin: 44px auto;
}
.forecast {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 38px;
    margin-left: 74px;
}
.forecast__heading {
    display: flex;
    margin-bottom: 25px;
    margin-left: 64px;

}
.forecast__title {
    color: var(--gray, #48484A);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-right: 24px;
}
.label-week {
    
    margin-right: 16px;
}
.label {
    color:var(--hint); 
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    border: none;
    
    
}
.forecast__active {
    color: var(--gray);
    border-bottom: 3px solid #48484A;
    width: 109px;
    padding-bottom: 9px;

        
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.list-cards {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0 28px;
}
.none {
    display: none;
}
.card_active {
    position: absolute;
    top: 0;
}
.card {
    border-radius: 8.362px;
    background: var(--panel-light, #FFF);
    box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
    width: 100px;
    height: 143px;
    position: relative;
}
.card__back {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 24px;
    
}
.card__day {
    left: 15px;
    position: absolute;
    top: 16px;
    
}
.card__tomorrow {
    left: 25px;
    position: absolute;
    top: 16px;
}
.card__temperature {
    
    display: flex;
    gap: 18px;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    left: 14px;

}
.text {
    color: var(--gray, #48484A);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card__min {
    color: #D3D3D3;
}
/* почасовые карточки
 */
 .card__hour {
    position: absolute;
    top: 16px;
    left: 30px;
}
 .card__temp {
    position: absolute;
    top: 111px;
    left: 35px;
 }

/* стили для подробно */
.detailed {
    margin: 0 53px 44px 138px;
}
.detailed__title {
    color: var(--gray, #48484A);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 17px;
}
.detailed__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}
.card-details {
    border-radius: 10px;
    background: var(--panel-light, #FFF);
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.05);
    width: 320px;
    height: 181px;
    padding: 20px 0;
}
.speed {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card__text {
    color: var(--gray, #48484A);
    font-style: normal;
    line-height: normal;
}
.card-details__head {
    font-size: 18px;
    font-weight: 400;
}
.card-details__text-big {
    font-size: 64px;
    font-weight: 900;
    
}
.card-details__text-smoll {
    font-size: 36px;
    font-weight: 500;
    
}
.card-details__text-extra-smoll {
    font-size: 18px;
    font-weight: 500;
    
}
.card-details__direction {
    display: flex;
    align-items: center;
    gap: 11px;
}
.card-details__wind {
    font-size: 18px;
    font-weight: 300;
    
}
.other {
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
}
