.forecast {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 38px;
    
}
.forecast__heading {
    display: flex;
    margin-bottom: 25px;
    

}
.forecast__title {
    color: var(--gray);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-right: 24px;
}
.labelWeek {
    
    margin-right: 16px;
}
.label {
    color:var(--hint); 
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    border: none;
    
    
}
.forecastActive {
    color: var(--gray);
    border-bottom: 3px solid #48484A;
    padding-bottom: 9px;
        
}
.hid {
    display: none;
}
.hourHid {
    display: none;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.arrowLeft {
    position: absolute;
    top: 53px;
    left: -56px;

}
.arrowRight {
    position: absolute;
    top: 53px;
    right: -56px;
}

.listCards {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.none {
    display: none;
}
.card_active {
    position: absolute;
    top: 0;
}

@media ( min-width: 834px) and (max-width:1439px) {
    .forecast {
        margin-bottom: 42px;
    }
    .forecast__box {
        display: flex;
    }
    .forecast__heading {
        margin-left: 0;
    }
    .arrowLeft {
        left: -49px;
    }
    .arrowRight {
        right: -49px;
    }
}

@media (max-width: 833.9px) {
    
    .forecast {
        align-items: center;
        margin-bottom: 59px;
    }
    
    .forecast__heading {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .forecast__box {
        display: flex;
        gap: 39px;
    }
    .arrowNone {
        display: none;
    }
    .listCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 55px;
    }
    .none {
        display: none;
    }
    .mb {
        margin-bottom: 600px;
    }
    
}

